*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/****************** GRID CONTAINER ********************/

.webgrid {
  display: grid;
  grid-template-areas:
  "header header"
  "article article"
  "footer footer"  ;
  grid-template-columns: 1fr 1fr;
}
/******************    HEADER  ********************/
header {
  position: sticky;
  top: 0;
  margin-top: 5px;
  grid-area: header
}
.encabezado__nav{
font-family: 'RocknRoll One', sans-serif;
background-color: #33DDFF;
box-shadow: 5px 5px 50px #000;
height: 105px;
text-align: center;
display: flex;
justify-content: center;
align-items: center;
flex-wrap: wrap;
}

.encabezado__nav-img {
  width: 70px;
}

nav h1 {
margin: 10px;
}


.encabezado__nav a {
  text-decoration: none;
  color: #000000;
  margin: 10px;
  font-size: 1.6em;
}


/******************   FIN HEADER  ********************/

/******************    ARTICLE  ********************/
.menu__article {
margin: 50px 0 0 1%;
grid-area: article
}

.menu__article-h2 {
  text-align: center;
  font-size: 1.2em;
  font-family: 'Akaya Telivigala', cursive;
  margin-bottom: 20px;

}

.menu__article-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.menu__article-product {
  border: 2px solid #C0C0C0;
  width: 300px;
  height: 350px;
  margin: 10px 15px 10px 0 ;
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 1.2em;
  text-align: center;
}

.menu__article-product h4 {
  display: inline-block;
}

.menu__article-product h3 {
  display: inline-block;
  color: #0BEA00;
}

.menu__article-product img {
  width: 200px;

}


.menu__article-maps {
  font-family: 'RocknRoll One', sans-serif;
  position: block;
  width: 650px;
  height: 500px;
  background-color: #F0F0F0;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
  margin: auto;
  margin-top: 20px;
  box-shadow: 2px 2px 20px 0 #000;
}

.menu__article-maps h3 {
  margin-bottom: 10px;
}

.menu__article-contacto {
  font-family: 'RocknRoll One', sans-serif;
  margin: auto;
  margin-bottom: 30px;
  width: 400px;
  height: 300px;
  text-align: center;
  margin-top: 50px;
  box-shadow: 2px 2px 20px 0 #000;
  border-radius: 5px;
  padding: 20px;

}

.menu__article-contacto h3 {
  font-size: 1.5em;
}

input[type="text"], input[type="email"], input[type="number"] {
  font-family: 'RocknRoll One', sans-serif;
  outline: none;
  border: none;
  width: 350px;
  padding: 5px;
  border-bottom: 2px solid #C9C9C9;
  border-radius: 2px;
  margin: auto;
  font-size: 1.2em;
  transition: border-bottom, background-color, 0.5s;
}

input[type="text"]:hover,
input[type="email"]:hover,
input[type="number"]:hover {
  border-bottom: 2px solid #A2A2A2;
  background-color: #F2FCFF;
}

input[type="submit"] {
  font-family: 'RocknRoll One', sans-serif;
  border: 2px solid #33DDFF;
  border-radius: 2px;
  font-size: 1em;
  width: 90%;
  height: 40px;
  margin-top: 30px;
  text-align: center;
}

/******************    FIN ARTICLE ********************/

/******************    FOOTER  ********************/

footer {
  font-family: 'RocknRoll One', sans-serif;
  font-size: .7em;
  background-color: #343434;
  color: #fff;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  grid-area: footer
}
.footer-descripcion{

}

.footer-derechos{
  font-size: 2em;
}



.footer-redes {

}

.footer-redes img{
 width: 50px;

}

/******************    FIN FOOTER  ********************/

/******************   MEDIA  ********************/

/******************   Mobile  ********************/

@media all and (min-width: 300px) and (max-width: 375px) {
  body {
    background-color: #FAFAFA;
  }
  .encabezado__nav{
    font-size: .7em;
    height: 120px;
    padding: 10px;
    width: 100vw;
  }

  .encabezado__nav-img {
    display: none;

  }

  .encabezado__nav a {
    width: 100px;
    font-size: 1.4em;
  }

  .menu__article-h2 {
    font-size: .8em;
  }

  .menu__article-product {
    width: 200px;
    height: 250px;
    font-size: 1em;
    text-align: center;
    padding: 15px;
  }

  .menu__article-product img {
    width: 100px;
  }

  .menu__article-maps {
    max-width: 250px;
    height: 270px;
    font-size: .9em;
  }

  .menu__article-maps iframe {
    width: 230px;
    height: 200px;
  }

  .menu__article-contacto {
    font-size: .6em;
    width: 250px;
    background-color: #FFF;
    height: 200px;
  }

  input[type="text"], input[type="email"], input[type="number"] {
    font-size: .9em;
    width: 200px;
  }

  input[type="submit"] {
    font-size: .8em;
    width: 70%;
    height: 30px;
    margin-top: 20px;
    text-align: center;
}
  footer {
    font-size: .5em;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 5px;
    grid-area: footer
  }
  .footer-descripcion{
  font-size: .4;
  flex-direction: row;
  margin-bottom: 5px;

  }

  .footer-derechos{
    font-size: 1.5em;
    order: 10
  }

  .footer-redes img{
   width: 25px;
   flex-direction: row;
   margin-bottom: 5px;


  }
}

@media all and (min-width: 375px) and (max-width: 768px) {
  body {
    background-color: #FAFAFA;
  }
  .encabezado__nav{
    font-size: .7em;
    height: 120px;
    padding: 10px;
    width: 100vw;
  }

  .encabezado__nav-img {
    width: 50px;

  }

  .encabezado__nav a {
    width: 100px;
    font-size: 1.4em;
  }

  .menu__article-h2 {
    font-size: .8em;
  }

  .menu__article-product {
    width: 200px;
    height: 250px;
    font-size: 1em;
    text-align: center;
    padding: 15px;
  }

  .menu__article-product img {
    width: 100px;
  }

  .menu__article-maps {
    max-width: 350px;
    height: 350px;
    font-size: .9em;
  }

  .menu__article-maps iframe {
    width: 300px;
    height: 290px;
  }

  .menu__article-contacto {
    font-size: .8em;
    width: 300px;
    background-color: #FFF;
  }

  input[type="text"], input[type="email"], input[type="number"] {
    font-size: 1em;
    width: 250px;
  }

  footer {
    font-size: .5em;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    grid-area: footer
  }
  .footer-descripcion{
  font-size: .4;
  }

  .footer-derechos{
    font-size: 1.5em;
  }

  .footer-redes img{
   width: 25px;

  }
}

/******************   Tablet o Laptop  ********************/
@media all and (min-width: 768px) and (max-width: 1024px) {

  .encabezado__nav{
    font-size: .8em;
   }

  .encabezado__nav-img {
    width: 70px;
    transition: all, .5s;
  }

  .encabezado__nav-img:hover {
    width: 80px;
  }

  nav h1 {
  margin: 10px;
  }

  .encabezado__nav a {
    text-decoration: none;
    color: #000000;
    margin: 10px;
    font-size: 1.5em;
    transition: all, .2s;
  }

  .encabezado__nav a:hover {
    color: #FFFFFF;
    border-bottom: 0.1em solid #FFF;
  }

  .menu__article-h2 {
    font-size: .9em;
  }

  .menu__article-product {
    width: 250px;
    height: 320px;
    font-size: 1.1em;
    text-align: center;
    padding: 15px;
  }

  .menu__article-product img {
    width: 150px;
    transition: width, .5s;
  }

  .menu__article-product img:hover {
    width: 160px;
  }

  .menu__article-maps {
    max-width: 450px;
    height: 370px;
    font-size: .9em;
  }

  .menu__article-maps iframe {
    width: 400px;
    height: 300px;
  }

  .menu__article-contacto h3 {
    font-size: 1.2em;
  }

  input[type="text"], input[type="email"], input[type="number"] {
    font-size: 1.1em;
  }

  footer {
    font-size: .6em;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    grid-area: footer
  }

  .footer-derechos{
    font-size: 1.6em;
  }

  .footer-redes img{
   width: 40px;

  }
}

/******************   Escritorio  ********************/
@media all and (min-width: 1024px) {

  .encabezado__nav-img {
    width: 70px;
    transition: all, .5s;
  }

  .encabezado__nav-img:hover {
    width: 80px;
  }

  nav h1 {
  margin: 10px;
  }

  .encabezado__nav a {
    text-decoration: none;
    color: #000000;
    margin: 10px;
    font-size: 1.6em;
    transition: all, .2s;
  }

  .encabezado__nav a:hover {
    color: #FFFFFF;
    border-bottom: 0.1em solid #FFF;
  }

  .menu__article-product img {
    transition: width, .5s;
  }

  .menu__article-product img:hover {
    width: 210px;
  }


  .menu__article-maps iframe {
    width: 600px;
    height: 420px;
  }
}

